.App {
  text-align: center;
  max-width: 650px;
  min-height: 400px;
  margin: 0 auto;
  border: 1px solid black;
  border-style: double;
  background-image: url("images/cadretomat2.jpg");
  background-size: cover;
  color: white;    
}
